:root {
  --primary-color: #00ff96;
  --primary-text-color: #ffffff;
  --secondary-text-color: #111119;
  --background-color: #111119;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary-text-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

